html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  background: #252627;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b {
  font-weight: 700;
}

a:active,
a:hover {
  outline-width: 0;
}

h1 {
  font-size: .75em;
  margin: .67em 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

html {
  font: 112.5%/1.45em Quicksand, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: inherit;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Quicksand, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.25rem;
  line-height: 1.1;
}

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Quicksand, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, sans-serif;
  font-weight: 400;
  letter-spacing: .25rem;
  text-rendering: optimizeLegibility;
  font-size: 2.62671rem;
  line-height: 1.1;
  color: #ef4135;
}

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  font-weight: 400;
  letter-spacing: .20rem;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
  color: #ffffff;
}

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60px;
  z-index: 99;
}

@media all and (max-width: 640px) {
  .layout {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 50px;
  }

  .right-arrows-container {
    position: absolute;
    right: 0;
    top: 50px;
  }

}

@media all and (max-width: 1024px) {
  .header {
    visibility: hidden;
  }

  #tagi {
    visibility: hidden;
  }

  .right-arrows-container {
    position: absolute;
    right: 150px;
    top: 50px;
  }

  .layout {
    border-left: none;
  }

  .left {
    margin: 0;
  }

  .right {
    margin: 0;
    margin-bottom: 50px;
  }

  .download-btn {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media all and (max-width: 860px) {

  .left,
  .right {
    flex: 1;
    min-width: 100%;
  }

  .right-arrows-container {
    position: absolute;
    right: 100px;
    top: 50px;
  }
}

@media all and (min-width: 1025px) {

  .right-arrows-container {
    position: absolute;
    right: 150px;
    top: 50px;
  }

  .left {
    margin-right: 1rem;
    flex: 1;
    order: 1;
  }

  .right {
    margin-left: 1rem;
    flex: 1;
    order: 2;
  }
}

@media all and (max-width: 1120px) {
  .scroll-text {
    visibility: hidden;
  }
}

.scroll-text {
  height: 50px;
  width: 200px;
  position: absolute;
  bottom: 100px;
  left: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.scroll-text svg,
.scroll-text p {
  color: #8d8d8d;
  font-family: 'Allerta Stencil',
    sans-serif;
  font-size: 18px;
}

.scroll-text svg {
  position: relative;
  top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


a {
  text-decoration: none;
}

p,
li {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
}

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}


b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: calc(1.45rem / 2);
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

li>ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li>ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li>p {
  margin-bottom: calc(1.45rem / 2);
}

a {
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  color: #ef4135;
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

thead {
  text-align: left;
}

td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Droid Sans,
    sans-serif;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.index p {
  color: #8d8d8d;
}

.social-links li {
  display: inline-block;
}

.portfolio-links li {
  display: inline-block;
}

.social-links a,
.portfolio-links a {
  margin-right: 1rem;
  color: #8d8d8d;
}

.social-links svg {
  width: 35px;
  height: 35px;
}

.contact svg {
  color: #ABF3F8;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.social-links a:hover,
.portfolio-links a:hover {
  color: #ef4135;
}


.contact-btn {
  width: 140px;
  padding: 8px 15px;
  border: 1px solid #ef4135;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.download-btn {
  width: 230px;
  padding: 8px 15px;
  border: 1px solid #78C4C4;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.contact-btn {
  margin-top: 30px;
}

.contact-btn a {
  color: #ef4135;
  font-size: 1rem;
}

.download-btn a {
  color: #78C4C4;
  font-size: 1rem;
}

.contact-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.about,
.index,
.skills,
.scroll,
.contact {
  padding-top: 150px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100vw;
}

@media all and (max-width: 1024px) {
  .index {
    height: 100%;
    min-height: 700px;
  }

  .about {
    height: 100%;
  }

  .skills {
    height: 100%;
  }
}

@media all and (min-width: 1025px) {

  .about,
  .index,
  .skills,
  .scroll {
    height: 100vh;
  }
}

.contact {
  height: 100vh;
}

.index {
  background: #252627fb;
}

.about {
  background: #2b455cfb;
}

.skills {
  background: #687683fb;
}

.skills h2 {
  color: #2b363F;
}

.skills a {
  color: #2b363F;
}

.scroll {
  background: #2b363F;
}

.contact {
  background: #686663fb;
}

.map,
.code {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  z-index: -1;
}

@media all and (max-width: 940px) {

  .map,
  .code {
    visibility: hidden;
  }
}

.about h2 {
  color: #78C4C4;
}

.contact h2 {
  color: #ABF3F8;
}

.contact p a {
  color: #fff;
}

.about,
.skills-flex,
.portfolio {
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.portfolio p {
  color: #8d8d8d;
}

.portfolio li {
  color: #ffffff;
}

.contact em {
  color: #ABF3F8;
  margin-right: 5px;
  font-size: 20px;
}


.right-arrow {
  padding: 1rem;
  box-shadow: 2px -2px #ffffff inset;
  transform: rotate(-135deg);
  opacity: 0;
  position: absolute;
}

.right-arrow-one {
  animation: rightArrowMovement 1.5s ease-in-out infinite;
}

.right-arrow-two {
  animation: rightArrowMovement 1.5s 1s ease-in-out infinite;
}

@keyframes rightArrowMovement {
  0% {
    left: 0;
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    left: 30px;
    opacity: 0;
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: random(100)/100;
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    background: hsl(random(360), 70%, 30%);
  }
}


svg text.blink {
  animation: blink 2s ease-out;
}

#tagi {
  position: absolute;
  bottom: 100px;
  right: 10%;
  width: 40%;
}

@media all and (max-width: 1260px) {
  #tagi {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 40%;
  }
}

@keyframes blink {
  0% {
    text-shadow: 0 0 20px rgba(226, 25, 45, 0);
  }

  20% {
    fill: rgba(226, 25, 45, 1);
    text-shadow: -5px -5px 20px rgba(226, 25, 45, 0.8), 5px -5px 20px rgba(226, 25, 45, 0.8), 5px 5px 20px rgba(226, 25, 45, 0.8), -5px 5px 20px rgba(226, 25, 45, 0.8);
    ;
  }

  30% {
    fill: rgba(226, 25, 45, 1) -5px -5px 20px rgba(226, 25, 45, 0.8),
      5px -5px 20px rgba(226, 25, 45, 0.8),
      5px 5px 20px rgba(226, 25, 45, 0.8),
      -5px 5px 20px rgba(226, 25, 45, 0.8);
  }

  100% {
    text-shadow: 0 0 20px rgba(226, 25, 45, 0);
  }
}

.st0 {
  font-size: 68px;
}

.st1 {
  font-size: 27px;
}

.st2 {
  font-size: 82px;
}

.st3 {
  font-size: 41px;
}

.st4 {
  font-size: 41px;
}

.st5 {
  fill: #9e9d9d;
}

.st6 {
  font-size: 24px;
}

.st7 {
  font-size: 24px;
}

.st8 {
  font-size: 62px;
}

.st9 {
  font-size: 76px;
}

.st10 {
  font-size: 58px;
}

.st11 {
  font-size: 18px;
}

.st12 {
  font-size: 25px;
}

.st13 {
  font-size: 25px;
}

.st14 {
  font-size: 25px;
}

.st15 {
  font-size: 32px;
}

.st16 {
  font-size: 32px;
}

.st17 {
  font-family: 'Open Sans';
  font-weight: 600;
  fill: #acabab;
}

.st18 {
  font-size: 22px;
}

.st19 {
  font-size: 22px;
}

.st20 {
  font-size: 36px;
}

.st21 {
  font-size: 19px;
}

.st22 {
  font-size: 51px;
}

.st23 {
  font-size: 26px;
}

.st24 {
  font-size: 33px;
}

.st25 {
  font-size: 27px;
}

.st26 {
  font-size: 23px;
}

.st27 {
  font-size: 23px;
}

.st28 {
  font-family: 'Open Sans';
}

.st29 {
  font-size: 54px;
}

.st30 {
  font-size: 20px;
}

.st31 {
  font-size: 37px;
}